In [1]:
# MOGALAPU JAYA SRIKAR - 20BCE2041

In [2]:
# MOGALAPU JAYA SRIKAR - 20BCE2041
import pandas as pd
import numpy as np

In [3]:
# MOGALAPU JAYA SRIKAR - 20BCE2041
series1 = pd.Series(np.random.rand(4))
series2 = pd.Series(np.random.rand(4))
series3 = pd.Series(np.random.rand(4))
series4 = pd.Series(np.random.rand(4))

In [4]:
print(series1,series2,series3,series4)

0    0.577295
1    0.447857
2    0.971389
3    0.172350
dtype: float64 0    0.030274
1    0.729906
2    0.936928
3    0.012040
dtype: float64 0    0.407084
1    0.259367
2    0.623053
3    0.060202
dtype: float64 0    0.645194
1    0.977657
2    0.782554
3    0.788049
dtype: float64

In [5]:
df = pd.DataFrame([series1,series2,series3,series4])

In [6]:
print(df)

          0         1         2         3
0  0.577295  0.447857  0.971389  0.172350
1  0.030274  0.729906  0.936928  0.012040
2  0.407084  0.259367  0.623053  0.060202
3  0.645194  0.977657  0.782554  0.788049

In [7]:
# MOGALAPU JAYA SRIKAR - 20BCE2041

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']

In [8]:
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.577295        0.447857        0.971389        0.172350
1        0.030274        0.729906        0.936928        0.012040
2        0.407084        0.259367        0.623053        0.060202
3        0.645194        0.977657        0.782554        0.788049

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [10]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.414962        0.603697        0.828481        0.258160
std          0.275321        0.315502        0.159681        0.359587
min          0.030274        0.259367        0.623053        0.012040
25%          0.312882        0.400734        0.742678        0.048162
50%          0.492190        0.588881        0.859741        0.116276
75%          0.594270        0.791844        0.945543        0.326275
max          0.645194        0.977657        0.971389        0.788049

In [11]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.414962        0.603697        0.828481        0.258160
std          0.275321        0.315502        0.159681        0.359587
min          0.030274        0.259367        0.623053        0.012040
25%          0.312882        0.400734        0.742678        0.048162
50%          0.492190        0.588881        0.859741        0.116276
75%          0.594270        0.791844        0.945543        0.326275
max          0.645194        0.977657        0.971389        0.788049

In [12]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [13]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [15]:
df['Random value 1'].dtype

dtype('float64')

In [16]:
df['Random value 2'].dtype

dtype('float64')

In [17]:
df['Random value 3'].dtype

dtype('float64')

In [18]:
df['Random value 4'].dtype

dtype('float64')

In [19]:
df.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.447857        0.971389
1        0.729906        0.936928
2        0.259367        0.623053
3        0.977657        0.782554

In [20]:
df.iloc[0:4,1:3]

   Random value 2  Random value 3
0        0.447857        0.971389
1        0.729906        0.936928
2        0.259367        0.623053
3        0.977657        0.782554

In [21]:
# MOGALAPU JAYA SRIKAR - 20BCE2041

In [22]:
# MOGALAPU JAYA SRIKAR - 20BCE2041

In [23]:
# MOGALAPU JAYA SRIKAR - 20BCE2041